In [50]:
import mysql.connector

In [58]:
def convertLogToJson(result):
    try:
        send_data_arr = []
        resultList = list(result)
        TIERTYPE = ["St1.Nano","Mt2.GP","Lt3.Large","Lt4.Xlarge","Mt5.Prem"]
        RAM = [0.5,1.0,2.0,4.0,8.0]
        VCPUS = [2,2,2,2,2]
        NETWORKBANDWIDTH = [5,5,5,5,5]
        for value in resultList:
            send_data = {}
            send_data['tierType'] = TIERTYPE[value[1]]
            send_data['NetworkBandwidth'] = NETWORKBANDWIDTH[value[1]]
            send_data['RAM'] = RAM[value[1]]
            send_data['vCPUs'] = VCPUS[value[1]]
            send_data['IP_address']  = value[2]
            send_data_arr.append(send_data)
        return send_data_arr
    except KeyError:
        print('Execution Time: convert Log To Json --> KeyError')

In [59]:
def addDataToTheDataLog(mydb, tierType, IP_address):
    sql = "INSERT INTO data_log (tierType, IP_address) VALUES (%s, %s)"
    val = (tierType, str(IP_address))
    mycursor.execute(sql, val)
    mydb.commit()
    return True

In [60]:
mydb = mysql.connector.connect(
    host="database-1.ckbdn0ey3gu5.us-east-2.rds.amazonaws.com",
    user="admin",
    password="admin123",
    database="sdnDB"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM data_log")
myresult = mycursor.fetchall()

print(convertLogToJson(myresult))

[{'tierType': 'Mt2.GP', 'NetworkBandwidth': 5, 'RAM': 1.0, 'vCPUs': 2, 'IP_address': '192.168.20.85'}, {'tierType': 'Mt2.GP', 'NetworkBandwidth': 5, 'RAM': 1.0, 'vCPUs': 2, 'IP_address': '192.168.20.56'}]